
/* this is for universal  */

*{ 
    margin: 0px;
    padding: 0px;
    font-family:Verdana,Geneva,Tahoma,sans-serif;
}

/*? start for first part of css */
#first{
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    /* border :1px solid red; */
    gap: 70px;
    /* width: 68%; */
    padding: 9%;
}
b{
    text-transform: uppercase;
    
}

.detail>h2{
    /* color: red; */
    font-size: 280%;
}

.detail>p{
    font-size: 134%;

}

.btn>button
{
    font-size:150% ;
    font-weight: bolder;
}

.detail>p{
  margin-top: 10px;
}
.btn{
    width: 91%;
    /* border: 1px solid green ; */
    display: flex;
    gap:20px;
    margin-top:10px ;
    
}
.btn>button:nth-child(1)
{
    padding: 20px;
    border: 1px solid gray;
    width: 50%;
    border-radius:8px;
    background-color: #4ea819;
    margin-top: 10px;
    color: white;
    
}
.btn>button:nth-child(2)
{
    padding: 20px;
    border: 1px solid rgb(8, 7, 7);
    border-radius:8px;
    width: 60%;
    border-color: #fafafa;
    margin-top: 10px;

}
/* p{
   
} */
/* .pic-1{ */
    /* border: 1px solid red; */
    /* height: ; */
/* } */


/*! end  first part css */


/*? start second part of css  */

#second-1{
   display: flex; 
   /* border: 1px solid black ; */
   padding:50px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#second-1>div{
    /* border: 1px solid brown; */
    padding: 3%;
}
#second-1>div>h2{
    text-align: center;
    margin-top: 8px;
    line-height: 1.75em;
}
#second-1>div>p{
    text-align:center;
    line-height: 1.75em;
    font-size: 110%;
    font-weight:520;
    margin-bottom:20px ;
}

#second-1>div>img{
    /* border: 1px solid red; */
    display: block;
    margin: auto;
    justify-items: center;
    align-items: center;
    width: 70%;
}

#second-1>div>button{
    /* color: red; */
    display: block;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:1rem;
    font-size: .875rem;
    min-height: 2.5rem;
    border-radius: 6px;
    /* background-color: #ffffff#fff; */
    background-color: white;
    border:1px solid gray;
}

/*! end second part of css  */

/*? start middle part of css */
#middle{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid brown; */
}
.one{
    /* border: 1px solid rgb(42, 11, 146); */
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.one>h1
{
    font-size: 300%;
    margin: 20px 20px;
}
.same-1{
    margin:20px 20px ;
    text-align: justify;
}
.same-2{
    margin-right: 23%;
    width: 70%;
}
.btn-08{
    /* border: 1px solid rgb(152, 5, 150); */
    margin-right:11% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.btn-08>button{
    margin: 20px  ;
    /* border: 1px solid yellow; */
    font-size:90% ;
    font-weight: bolder;
}

.btn-08>button:nth-child(1)
{
    background-color: 
    #4ea819;
    border: 1px solid;
    width: 50%;
    border-radius: 5px;
    padding:20px;
}
.btn-08>button:nth-child(2)
{
    background-color: 
    white;
    border: 1px solid;
    border-radius: 5px;
    padding:29px;
    width: 40%;
    border: 1px solid gray;
}

.video{
    padding: 16% 3%;

}





/*! end of middle part */





































/*? start second part of css  */
/*todo start second part of css  */
/*// start second part of css  */
/** start second part of css  */
/*! start second part of css  */
