/* .see_borderbod {
  margin: 2px 3px;
} */

body {
    margin: 0;
    font-family: Source Sans Pro,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #333c43;
    text-align: left;
    background-color: #fff;
  }
  
  .pointer3:hover {
    /* color: green !important; */
    cursor: pointer;
    text-decoration: underline;
  }
  
  
  #fix_pos{
    /* border: solid red; */
    width: 3%;
    position: fixed;
    margin-top: 10%;
    /* background: red; */
  }
  
  #fix_pos > img{
    width: 100%;
    height: auto;
    /* border: solid pink; */
    margin-top: 5px;
    padding: 1px;
    border-radius: 5px;
    
  }
  .blog_width {
    width: 70%;
    /* height: 80%; */
    /* border: solid red; */
    margin: auto;
    /* margin-top: 350px; */
  }
  
  #big_image {
    grid-area: big_image;
    /* width: 60%; */
    /* height: 100%; */
    /* width: 50%; */
    /* border: solid red; */
  }
  
  .little_below {
    margin-top: 0em;
  }
  
  #blog_des {
    /* width: 30%; */
    grid-area: blog_des;
  }
  
  .little_left_margin {
    margin-left: 4%;
  }
  
  .blog_grid1 {
    grid-template:
      "big_image big_image blog_des"
      "big_image big_image blog_des";
  }
  
  .blog_image {
    height: auto;
    width: 100%;
  }
  
  .no_margin_top {
    margin-top: 0%;
  }
  
  /* .flex_class{
      display: flex;
  } */
  
  .direction_row {
    flex-direction: row;
  }
  
  .grow_1 {
    flex-grow: 1;
  }
  
  .ash_bg {
    background: whitesmoke;
  }
  
  .green_bg {
    background: #5fb92a;
  }
  
  .basis_33 {
    flex-basis: 33%;
    border: solid yellow;
  }
  
  .review_cont {
    grid-gap: 3%;
  }
  
  /* .review_cont >div > p{
      font-size: 20px;
  } */
  
  .review_cont {
    /* height: 100%; */
    /* border: solid pink; */
    max-width: 90%;
  }
  
  .review_cont > div > div:nth-child(1) {
    /* border: solid black; */
    max-height: 200px;
  }
  
  .review_cont > div > div:nth-child(1) {
    /* height: 100%; */
    /* border: solid black; */
    height: 40%;
  }
  
  .rev_img {
    height: 100%;
    width: 100%;
    /* border: solid yellow; */
  }
  
  .f13_rev {
    grid-template: "rev1 rev2 rev3";
  }
  
  .big_size {
    font-size: 30px;
  }
  
  #rev1 {
    grid-area: rev1;
    /* border: solid magenta; */
  }
  #rev2 {
    grid-area: rev2;
    /* border: solid tomato; */
  }
  #rev3 {
    grid-area: rev3;
    /* border:  solid teal; */
  }
  
  .f46_rev {
    grid-template: "rev4 rev5 rev6";
  }
  #rev4 {
    grid-area: rev4;
    /* border: solid magenta; */
  }
  #rev5 {
    grid-area: rev5;
    /* border: solid tomato; */
  }
  #rev6 {
    grid-area: rev6;
    /* border:  solid teal; */
  }
  
  .f79_rev {
    grid-template: "rev7 rev8 rev9";
  }
  #rev7 {
    grid-area: rev7;
    /* border: solid magenta; */
  }
  #rev8 {
    grid-area: rev8;
    /* border: solid tomato; */
  }
  #rev9 {
    grid-area: rev9;
    /* border:  solid teal; */
  }
  
  #description_sub {
    grid-area: description;
  }
  #subscription {
    grid-area: subscription;
    /* background: teal; */
  }
  
  .block1 {
    grid-template: "description subscription";
    padding: 1% 1%;
  }
  
  #description_sub > h3 {
    /* grid-area: description; */
    font-size: 25px;
    max-width: 70%;
    /* border: solid yellow; */
    margin-left: 10%;
  }
  
  .EamilBox {
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .immediate_below {
    margin-top: -2em;
  }
  
  h3 ~ p {
    text-align: unset;
  }
  .parent_gap {
    margin-top: 5%;
  }
  
  .contributor > div:nth-child(1) {
    width: 20%;
  }
  .contributor > div:nth-child(3) {
    height: 100%;
    width: 15%;
  }
  .contributor img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    margin-top: 5%;
  }
  .color_black {
    color: black;
  }
  body {
    max-width: 100% !important;
  }
  
  .white_border {
    border: solid white 1px;
  }
  
  span{
    color: unset;
  }
  
  
  #search_top{
    height: 30px;
    width: 20%;
    border-radius: 5px;
    /* background: red; */
  }
  
  #search_button{
    height: 36px;
    background: #5fb92a;
    width: 10%;
    color: white;
    border-radius: 5px;
  }
  
  @media only screen and (max-width: 1200px) {
    /* .blog_grid1{
          grid-template: "big_image"
                          "blog_des";
  
          /* font-size: 0em; */
  
    #big_image {
      background: whitesmoke;
      /* border: solid lime; */
    }
    #main_img {
      padding: 20% 5%;
      padding-right: unset;
    }
  }
  
  @media only screen and (max-width: 990px) {
    .blog_grid1 {
      grid-template:
        "big_image big_image"
        "blog_des  blog_des";
  
      /* font-size: 0em; */
    }
  
    .block1 {
      grid-template:
        "description"
        "subscription";
    }
  
    .white_border {
      border: solid white 1px;
    }
    #main_img {
      max-width: 80%;
      height: auto;
    }
  
    .f13_rev {
      grid-template: "rev1 rev2 rev3";
    }
  
    .blog_image {
      height: 100%;
      width: 100%;
    }
  
    .f13_rev {
      grid-template:
        "rev1"
        "rev2"
        "rev3";
    }
  
    .f46_rev {
      grid-template:
        "rev4"
        "rev5"
        "rev6";
    }
    .f79_rev {
      grid-template:
        "rev7"
        "rev8"
        "rev9";
    }
    .EamilBox {
      color: white;
    }
    #subscription {
      max-width: 80%;
    }
  
    #description_sub {
      max-width: 80%;
    }
  
    #block1 {
      margin-top: 15%;
    }
    #sub_button {
      /* border: solid red; */
      /* margin-top: 10%; */
      margin-top: 10%;
      font-size: unset;
    }
  
    
    .EamilBox {
      height: 45px;
      background-color: unset;
    }
  }
  
  
  
  @media (max-width: 600px) {
    .blog_grid1 {
      grid-template:
        "big_image big_image"
        "blog_des  blog_des";
  
      /* font-size: 0em; */
    }
    .f13_rev {
      grid-template:
        "rev1"
        "rev2"
        "rev3";
    }
    #sub_button {
      width: 80%;
      font-size: unset;
    }
    #fix_pos{
      visibility: hidden;
    }
    #block1 {
      margin-top: 30%;
    }
  }