#nav
{
    display: flex;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 92px;
    border-top: 4px solid #4EA819;
    justify-content: space-around;
    align-items: center;
}
/* #nav>div
{
    border: 1px solid green;

} */
#nav>div
{
    width: 12.3%;
    display: flex;
    align-items: center;
    
}

#nav>div:last-child
{
    width: 56%;
    height: 60px;
    display: flex;
    align-items: center;
}
#second>div:first-child>a:hover
{
    border-bottom: 3px solid #4EA819;
    
}
#second>div:nth-child(1)
{
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#second>div:nth-child(1)>a
{
    text-decoration: none;
    color: #5D656B;
    font-size:large;
    /* font-weight: */

}
#second>div:nth-child(2)
{
    width: 22%;
    display: flex;
    justify-content: space-evenly;
}
#second>div:nth-child(2)>a:first-child
{
    border: 1px solid #999DA1;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
    color: #5D656B;
}
#second>div:nth-child(2)>a
{
    width: 40%;
    display: flex;
    justify-content: center;
    font-size: small;
    font-family:unset;
}

#second>div:nth-child(2)>a:last-child
{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid #999DA1;
    height: 35px;
    border-radius: 3px;
    color: white;
    background-color: #4EA819;
}
#last
{
    display: flex;
    width: 12%;
    height: 45px;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid red; */
}
#last>img:first-child
{
    width: 20%;
    height: 20px;
    /* border: 1px solid red; */
    margin-right: -10%;
}
#last>img:last-child
{
    width: 15%;
    height: 15px;
  
    /* border: 1px solid red; */
}
#last>p
{
    color: #5D656B;
    /* border: 1px solid red; */
}
#dropdownLanguage{
    z-index: 10;
    position:absolute;
    top: 60px;
    left: 83%;
}
#drop
{
    height: 100px;
    width: 130px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    border-radius: 3px;
    display: grid;
    align-items: center;
}
#drop>div
{
    display: flex;
    align-items: center;
    height: 50%;
    margin-left: 10%;
    cursor: pointer;
    
}
#drop>div>p{
    width: 20%;
}