body {
  margin: 0;
  font-family: Source Sans Pro,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333c43;
  text-align: left;
  background-color: #fff;
}


.immediate_below {
  margin-top: -0.5em !important;
}

#index_part2 {
  width: 100%;
  height: 190px;
  margin: auto;
  margin-top: 600px;
}
#elements {
  display: grid;
  grid-template-columns: 185px 190px 190px 190px 190px 190px 190px 185px;
  grid-template-rows: 220px;
  gap: 0.1%;
  padding-top: 25px;
  box-shadow: 5px 5px 5px 5px lightgray;
}
#elements > div > p {
  text-align: center;
  font-size: 20px;
  font-family: "Big Shoulders Display", sans-serif;
  color: rgb(111, 111, 111);
}
#elements > div > img {
  margin-left: 70px;
  margin-bottom: 10px;
}
#elements > div {
  margin-left: 190px;
  margin-right: -190px;
}
#grid-green {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 280px;
  gap: 10px;
  margin-top: -60px;
  justify-content: center;
}
#green-cont {
  width: 73%;
  border-radius: 20px;
  background-color: #5fb92a;
  margin: auto;
  height: 350px;
}
#grid-green > div > ul > li > p,
#grid-green > div > h3 {
  color: white;
  font-family: Source Sans Pro,sans-serif;
  font-size: 20px;
}
#grid-green > div > ul > li > p {
  font-size: 20px;
  letter-spacing: 0.3px;
  text-align: left;
}
#grid-green > div > h3 {
  letter-spacing: 1px;
  margin-left: 10px;
}
.check {
  list-style-image: url(https://desktime.com/assets/img/icons/bullet-point-check_white.svg);
}
#tracking {
  width: 100%;
}
#tracking-list {
  display: grid;
  justify-content: center;
  grid-template-columns: 315px 315px 315px;
  grid-template-rows: 430px 430px 430px;
  gap: 6%;
}
#tracking-list > div > img {
  width: 90%;
  height: 50%;
}
#tracking > h3,
p,
p,
#tracking-list > div > h4,
p {
  text-align: center;
}
#tracking > p,
p {
  color: rgb(84, 84, 84);
}
#tracking > p:nth-child(3) {
  margin-top: -25px;
}
#tracking-list > div > h4 {
  font-size: 23px;
  font-weight: none;
  color: rgb(78, 75, 75);
}
#tracking-list > div > p:nth-child(3) {
  font-size: 20px;
  color: rgb(120, 119, 119);
}
#tracking-list > div > p:nth-child(4) {
  margin-top: -30px;
  color: #5fb92a;
}
#feature-t > button {
  background-color: #5fb92a;
  height: 50px;
  width: 190px;
  margin-left: 450px;
  border: 1px solid #5fb92a;
  border-radius: 3px;
  color: white;
  
  font-family: Source Sans Pro,sans-serif;
  font-size: 22px;
}

#footer {
  width: 100%;
  margin: auto;
  margin-top: 300px;
}
#footer-list {
  width: 85%;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 500px;
  margin: auto;
  gap: 0.5%;
  margin-top: -270px;
}
#footer-list > div > nav > ul > li {
  list-style: none;
  margin-bottom: 5px;
  font-weight: 500;
  color: rgb(86, 83, 83);
}
#footer-list > div > nav > ul > li:hover {
  color: #5fb92a;
  cursor: pointer;
}
#footer-list > div > nav > ul > li:nth-child(1) {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 900;
  color: rgb(68, 65, 65);
}
#copy {
  width: 85%;
  display: grid;
  grid-template-columns: 200px 500px 50px 50px 50px 50px 130px 130px;
  grid-template-rows: 100px;
  gap: 0.3%;
  margin: auto;
  margin-top: -145px;
}
#d-logo {
  margin-left: 40px;
  cursor: pointer;
}
#fb-l > a > img,
#twitter-l > a > img,
#linkedin-l > a > img {
  width: 30px;
}
#youtube-l > a > img {
  width: 70px;
  margin-left: -20px;
}
#google-play > a > img,
#app-store > a > img {
  width: 120px;
  margin-left: 10px;
}
#google-play > a > img {
  margin-top: -40px;
}
#copy-2 {
  width: 100%;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 435px 730px 20px;
  grid-template-rows: 70px;
  margin: auto;
}
#copyright > p {
  font-size: 20px;
  text-align: right;
  color: darkgray;
}
#dra-group > img {
  margin-top: 20px;
  cursor: pointer;
}
#MenuBar > div > a > img {
  margin-top: 20px;
}
#footer-list > div > nav > select {
  display: none;
}
#trial-form {
  width: 101.2%;
  background-color: #5fb92a;
  height: 300px;
  margin-top: 180px;
  margin-left: -10px;
  padding-top: 20px;
}
#trial-form > div > h2,
form {
  text-align: center;
}
#trial-form > div > form > input {
  width: 250px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid white;
  padding-left: 10px;
}
#trial-form > div > form > input[type] {
  font-family: Source Sans Pro,sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
  margin-right: 10px;
}
#trial-form > div > p,
#trial-form > div > p > span {
  color: white;
  text-align: center;
  margin: 0px 5px;
}
#trial-form > div > p:nth-child(3) {
  font-size: 20px;
  margin-top: 19px;
}
#trial-form > div > p:nth-child(4) {
  font-size: 15px;
}
#trial-form > div > p:nth-child(4) > span {
  font-weight: bolder;
}
#trial-form > div > form > a > button {
  width: 200px;
  height: 45px;
  border-radius: 3px;
  border: 3px solid white;
  padding-top: -50px;
  background-color: #5fb92a;
  color: white;
  font-family: Source Sans Pro,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

/* Large devices exact width :900px) */
@media only screen and (max-width: 900px) {
  #elements {
    grid-template:
      "auto-time screenshots url-app-track "
      "doc-track project-track cost-cal";
    margin-bottom: 10px;
    padding-bottom: 60px;
  }
  #elements > div {
    margin-left: 40px;
  }
  #elements > div > p {
    margin-left: -110px;
  }
  #grid-green {
    grid-template:
      "boost"
      "mini"
      "organize";
  }
  #green-cont {
    height: 1020px;
  }
  #tracking-list {
    grid-template:
      "time-t url-t"
      "doc-t idle-t"
      "project-t auto-t"
      "cal-t shift-t"
      "invoice-t invoice-t"
      "feature-t feature-t";
    grid-template-columns: 315px 315px;
  }

  #feature-t {
    margin-left: -520px;
    margin-top: 550px;
  }
  #footer-list {
    grid-template:
      "desktime Learn-more Integrations"
      "features Contacts";
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 330px 330px;
    margin-top: 150px;
  }
  #index_part2 {
    margin-top: 1000px;
  }
  #footer {
    margin-top: 30px;
  }

  #copy {
    margin-top: 50px;
    grid-template:
      "d-logo"
      "fb-l twitter-l youtube-l linkedin-l google-play app-store";
    grid-template-columns: 50px 50px 50px 50px 130px 130px;
    grid-template-rows: 70px 100px;
    margin-left: 200px;
  }
  #copy-2 {
    grid-template: "copyright cpoyr-blank dra-group";
    grid-template-columns: 300px 350px 100px;
    grid-template-rows: 70px;
  }
  #d-logo {
    grid-column-start: 3;
    grid-column-end: 6;
  }
  #trial-form {
    margin-top: 450px;
  }
  #trial {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template:
      "ready"
      "email"
      "start"
      "cc"
      "terms";
  }
}

@media only screen and (max-width: 600px) {
  #elements > div {
    margin-left: 40px;
  }
  #elements > div > p {
    margin-left: -100px;
  }
  #elements {
    grid-template:
      "auto-time screenshots"
      "url-app-track doc-track"
      " project-track cost-cal";
    margin-bottom: 10px;
    padding-bottom: 60px;
  }
  #grid-green {
    grid-template:
      "boost"
      "mini"
      "organize";
  }
  #green-cont {
    height: 1020px;
  }
  #index_part2 {
    margin-top: 1000px;
  }
  #tracking-list {
    grid-template:
      "time-t"
      "url-t"
      "doc-t"
      "idle-t"
      "project-t"
      "auto-t"
      "cal-t"
      "shift-t"
      "invoice-t"
      "feature-t";
    grid-template-rows:
      280px
      280px
      280px
      280px
      280px
      280px
      280px
      280px
      280px;
  }
  #feature-t {
    margin-left: -270px;
    margin-top: 50px;
  }
  #tracking-list > div > img {
    width: 90%;
    height: 100%;
  }
  #footer-list {
    grid-template:
      "desktime"
      "Learn-more"
      "Integrations"
      "features"
      "Contacts";
    grid-template-columns: 240px;
    grid-template-rows: 30px 30px 30px 30px 30px;
    margin-top: -1250px;
  }

  #footer-list > div > nav > ul {
    display: none;
  }
  #footer-list > div > nav > select {
    display: inline-block;
    width: 400px;
    border: none;
    cursor: pointer;
  }
  #footer-list > div > nav > select:hover {
    color: #5fb92a;
  }
  #copy {
    margin-top: 50px;
    grid-template:
      "d-logo copy-blank"
      "fb-l twitter-l youtube-l linkedin-l"
      "google-play app-store";
    grid-template-columns: 65px 65px 65px 65px;
    grid-template-rows: 70px 70px 100px;
    margin-left: 80px;
  }
  #fb-l,
  #twitter-l,
  #yutube-l,
  #linkedin-l {
    margin-left: 10px;
  }
  #google-play {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #app-store {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  #copy-2 {
    grid-template:
      "copyright copyr-blank"
      "dra-group";
    grid-template-columns: 280px 0px;
    grid-template-rows: 70px 70px;
    margin-left: 80px;
  }
  #dra-group {
    grid-row-start: 2;
    text-align: center;
  }
  #d-logo {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #desktime > ul > li,
  #Learn-more > ul > li,
  #Integrations > ul > li,
  #features > ul > li,
  #Contacts > ul > li {
    overflow: hidden;
  }
  #footer {
    margin-top: 1450px;
  }
  #trial-form {
    margin-top: 1500px;
    height: 350px;
  }
  #trial {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 50px 50px 100px 50px;
    grid-template:
      "ready"
      "email"
      "start"
      "cc"
      "terms";
  }
  #trial-form > div > form > a > button {
    margin-top: 20px;
    width: 410px;
    margin-left: -5px;
  }
  #trial-form > div > form > input {
    width: 390px;
  }

  
}

#third_part {
  width: 70%;
  /* height: 80%; */
  /* border: solid red; */
  margin: auto;
  margin-top: 350px;
}

/* #third_part > div:nth-child(2){
    height: 250px;
} */

span,
.green {
  color: #5fb92a;
}

span,
.text_bold {
  font-weight: bold;
}

.pointer1 {
  cursor: pointer;
}


span:hover,
.pointer2:hover {
  color: green !important;
  cursor: pointer;
  text-decoration: underline;
}



.flex_class {
  display: flex;
  flex-direction: column;
}

.basis_50 {
  flex-basis: 50%;
}
/* .basis_20{
    flex-basis: 20%;
} */

p {
  font-family: Source Sans Pro,sans-serif;
  color: rgb(111, 111, 111);
  max-width: 100%;
  
}

h2 {
  font-family: Source Sans Pro,sans-serif;
  color: black;
  max-width: 100%;
  letter-spacing: 0.5px;
}

.max_width_80 {
  max-width: 80%;
}

.max_width_100 {
  max-width: 100%;
}
.max_width_30 {
  max-width: 30%;
}

.little_margin_top {
  margin-top: 5%;
}
.lr_gap > div {
  margin: 0% 10%;
  padding: 0%;
  /* border: solid pink; */
}

.div_strikes {
  width: 70%;
  height: 3px;
  background: rgb(111, 111, 111);
  margin: auto;
  margin-bottom: 20%;
  border-radius: 10px;
  /* grid-area: strike; */
}

.grid_class {
  display: grid;
}

.template_column1 {
  grid-template: "team business enterprise agency freelance";
  text-align: center;
}

#team {
  grid-area: team;
}
#business {
  grid-area: business;
}
#enterprise {
  grid-area: enterprise;
}
#agency {
  grid-area: agency;
}
#freelance {
  grid-area: freelance;
}

.template_column2 {
  /* grid-template-columns: auto auto auto auto auto; */
  /* width: 60%; */
  grid-template: "des pic";
  /* padding: 5%; */
  /* background: pink; */
  /* text-align: center; */
  /* gap: 20%; */
}

#description {
  grid-area: des;
  margin-top: 5%;
}

#picture {
  grid-area: pic;
}

#feature_photo {
  width: 100%;
  height: auto;
}

.direction_row {
  flex-direction: row;
}

/* #third_part > div{
    /* border: solid black; */
/* height: 50%; */

/* #demo{
    border: solid teal;
}
#demo > div{
    border: solid red;
    margin: 0% 5%;
    /* flex-basis: 20%; */

.normal_size {
  font-size: 20px;
}

.medium_size {
  font-size: 22px;
}

.small_size {
  font-size: 15px;
}

.center_align {
  text-align: center;
}

.align_unset {
  text-align: unset;
}

.decrease_width {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .template_column2 {
    grid-template:
      "pic"
      "des";
  }

  .medium_size {
    font-size: 15px;
  }
  #third_part {
    margin-top: 1300px;
  }
}

@media only screen and (max-width: 600px) {
  .template_column1 {
    grid-template:
      "team"
      "business"
      "enterprise"
      "agency"
      "freelance";
  }
  .div_strikes {
    width: 100%;
    height: 1px;
  }
  #third_part {
    margin-top: 1300px;
  }
}
#container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upper {
  text-align: center;
  height: auto;
}

#flex-container {
  height: auto;

  display: flex;

  margin: auto;
  /* border: 1px solid black; */
  justify-content: center;
}

.badge-box {
  width: 160px;
  height: auto;
  /* border: 1px solid maroon; */
  margin: 12px;
}

h3 {
  font-family: Source Sans Pro,sans-serif;
  font-size: 36px;
  color: rgb(53, 55, 58);
  letter-spacing: 0.5px;
}

p {
  font-family: Source Sans Pro,sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

#hour-container {
  background-color: #5fb92a;
  height: auto;
  color: white;
  display: flex;
}

.flex-inside-hour-container {
  width: 700px;

  height: auto;
  text-align: center;
}

.flex-inside-hour-container:nth-child(1) {
  margin-left: 80px;
}

.flex-inside-hour-container > image {
  margin-left: 100px;
}

h2 {
  font-size: 36px;
  font-family: Source Sans Pro,sans-serif;
  margin-top: 50px;
  letter-spacing: 0.5px;
  color: white;
}
#tagline {
  font-size: 40px;
}
h1 {
  font-size: 76px;
  font-family: Source Sans Pro,sans-serif;
  letter-spacing: 0.5px;
}

#map-box {
  height: auto;
  text-align: center;
}

#partner-box {
  background-color: #5fb92a;
  height: auto;
}

.partner-box-upper {
  height: auto;
  /* border: 0.1px solid maroon; */
  color: white;
  text-align: center;
  padding-top: 5px;
}

p1 {
  font-family: Source Sans Pro,sans-serif;
  font-size: 24px;
  letter-spacing: 0.5px;
  /* padding-bottom: 10px; */
}
#partner-box > div:nth-child(1) > h2 {
  color: white;
}

.partner-box-lower {
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  order: 5;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

.partner-flex-box {
  width: 200px;
  height: 100px;

  margin: 20px;
}

.partner-flex-box > img {
  max-width: 100%;
}

/* @media (max-width:900px){
    #flext-container{
        width: 765px;
        flex-wrap: wrap;
    }
} */

@media (max-width: 900px) {
  #flex-container,
  #hour-container,
  #partner-box-container {
    /* max-width: 100%; */
    flex-wrap: wrap;
  }
}

@media (max-width: 600) {
  #flex-container,
  #partner-box-container {
    /* max-width:50%; */
    flex-wrap: wrap;
  }
}

#layout {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  gap: 25px;

  grid-template-columns: 150px 190px;
  grid-template-rows: 150px 150px;
  grid-template:
    "MenuBar  MenuBar"
    "Leftbox  VideoLayout";
}
body {
  font-family: "Big Shoulders Display", sans-serif;
  letter-spacing: 1.5px;
}

#MenuLine {
  width: 100%;
  height: 4px;
  background-color: #5a8540;
}

#MenuBar {
  width: 100%;
  min-width: 400px;
  max-width: 100%;
  height: 70px;
  grid-area: MenuBar;

  /* background-color: brown; */
}
#Leftbox {
  width: 100%;
  height: 500px;
  min-width: 350px;
  max-width: 600px;
  /* background-color: red; */
  margin-left: 4%;
  float: left;
  grid-area: Leftbox;
}
#VideoLayout {
  min-width: 550px;
  max-width: 100%;
  height: 500px;

  /* background-color: salmon; */
  float: left;
  grid-area: VideoLayout;
}
#MenuBar > div:nth-child(1) {
  width: 25%;
  height: 70px;

  float: left;
}
#MenuBar > div > img:nth-child(1) {
  height: 32px;
  margin: 23px 7px 20px 40px;

  float: left;
}
.MenuBarh1 {
  padding-bottom: 10px;
  float: left;
}
.menu > button {
  float: right;
  height: 40px;
  margin: 15px 10px 15px 0px;
  width: 65px;
  border: 0px solid whitesmoke;
}
.menu > button:nth-child(2) {
  border: 1px solid rgb(105, 105, 105);
  width: 90px;
  border-radius: 5px;
}
.menu > button:nth-child(1) {
  border: 1px solid green;
  background-color: #5a8540;
  color: whitesmoke;
  width: 90px;
  border-radius: 5px;
}
.float_Left {
  float: left;
}
.EamilBox {
  width: 60%;
  height: 45px;
}
.FreeTrail {
  border: 1px solid green;
  background-color: #5fb92a;
  color: whitesmoke;
  width: 30%;
  height: 50px;
  border-radius: 5px;
  font-size: 15px;
}

@media (max-width: 900px) {
  .MenuBarh1 {
    padding-bottom: 10px;
    float: left;
    color: rgba(255, 0, 0, 0);
  }

  .menu > button {
    float: right;
    height: 40px;
    margin: 10px 1px 10px 0px;

    min-width: 1%;
    max-width: 9%;
    border: 0px solid whitesmoke;
    font-size: 60%;
  }
  .EamilBox {
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
  }
  .FreeTrail {
    border: 1px solid green;
    background-color: #5fb92a;
    color: whitesmoke;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;
  }
  #Leftbox {
    margin-left: 50px;
    text-align: center;
  }
  #VideoLayout {
    margin-left: 5%;
    padding-left: 20px;
  }
  .FreeTrail {
    /* border: 1px solid green;
        background-color: #5fb92a;
        color: whitesmoke; */
    width: 80%;
    /* height: 50px;
        border-radius: 5px; */
    font-size: 30px;
  }

  #layout {
    grid-template:
      "MenuBar"
      "Leftbox"
      "VideoLayout";
  }
}
#Leftbox {
  margin-left: 180px;
}
@media (max-width: 600px) {
  .MenuBarh1 {
    padding-bottom: 10px;
    float: left;
    color: rgba(255, 0, 0, 0);
  }
  #Leftbox {
    margin-left: 10px;
    text-align: center;
  }
  #VideoLayout {
    padding-left: -10px;
  }
  #layout {
    /* background-color: cyan; */
    grid-template:
      "MenuBar"
      "Leftbox"
      "VideoLayout";
  }
}

/* @media only screen and (min-width: 1200px) {
  #layout {
    grid-template:
      "MenuBar MenuBar"
      "Leftbox VideoLayout";
  }
} */
/* faq style stars */
/* #faq-container{
            text-align: center;
            margin-top: 30px;
            height: 300px;
            /* border: 1px solid red; */

p4 {
  color: #404751;
  
  font-family: Source Sans Pro,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 8px;
}
p5 {
  font-size: 26px;
  font-family: Source Sans Pro,sans-serif;
  
  font-weight: 400;
  color: #34363a;
  
  margin-top: 20px;
  letter-spacing: 2px;
  padding-bottom: 10px;
}
#search-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* margin-right: 20px; */
}
.search-button {
  width: 100px;
  height: 30px;
  background-color: #5fb92a;
  color: white;
  margin-left: 10px;
  border: 1px solid #5fb92a;
}
.search-bar {
  width: 420px;
}

.faq-container {
  background-color: #f3f4f5;
  height: 1800px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 20px; */
  /* margin: 10px; */
}
.faq-box {
  width: 600px;
  height: 300px;
  background-color: white;
  margin: 30px 20px;
  border-radius: 5px;
}

#faq-cont-1 {
  display: flex;
  width: 1100px;
  margin-top: 30px;
  justify-content: center;
  height: auto;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

#faq-cont-2 {
  display: flex;
  width: 1100px;

  /* justify-content: center; */
  height: 320px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

#faq-cont-3 {
  display: flex;
  width: 1100px;

  /* justify-content: center; */
  height: 320px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

#faq-cont-4 {
  display: flex;
  width: 1100px;

  /* justify-content: center; */
  height: 320px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

#faq-cont-5 {
  display: flex;
  width: 1100px;

  /* justify-content: center; */
  height: 320px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  color: #31363d;
  margin-left: 50px;
}
.list-green {
  letter-spacing: 0.5px;
  color: #5fb92a;
  font-size: 24px;
  list-style: none;
}

.list-green > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list-green > li:before {
  content: "\2713";
  /* padding-bottom: 15px; */
}
#faq-container > h4,
h5 {
  text-align: center;
}
#faq-container > h4 {
  font-size: 45px;
  margin-bottom: -50px;
}
#faq-box-button {
  width: 120px;
  height: 40px;
  background-color: #5fb92a;
  color: white;
  margin-left: 45px;
  font-size: 18px;
  border: 1px solid #5fb92a;
  cursor: pointer;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  #search-container {
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
  }

  #faq-container {
    height: auto;
  }

  .search-bar,
  .search-button {
    margin: 5px;
    width: 100%;
  }
}

@media only screen and (max-width: 630px) {
  #faq-container {
    height: auto;
  }

  #faq-cont-1,
  #faq-cont-2,
  #faq-cont-3,
  #faq-cont-4,
  #faq-cont-5 {
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  .faq-box {
    height: auto;
    width: 100%;
  }
}

@media (min-width: 630px) and (max-width: 1200px) {
  #faq-container {
    height: auto;
    width: 100%;
  }

  #faq-cont-1,
  #faq-cont-2,
  #faq-cont-3,
  #faq-cont-4,
  #faq-cont-5 {
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .faq-box {
    height: auto;
    width: 100%;
    /* overflow: hidden; */
    justify-content: center;
  }

  #faq-box-button {
    padding-bottom: 5px;
  }
}
